{% extends "two_pane_template.html" %}
{% import "macros.html" as macros %}

{% block title %}CV{% endblock %}
{% block main_heading_two_pane %}CV{% endblock %}
{% block first_pane_heading %}Education{% endblock %}
{% block second_pane_heading %}Skills{% endblock %}
<!-- Although the two pane view is designed to have 1 kind of information per pane, like on experience page (teachings and jobs), I am using the same structure here to have a more compact view. I will define the left pane view to be Education, but also add Work Experience and Projects summary. Likewise, for right pane, Skills, then Publications, Presentations, and Subreviews. -->

{% block before_panes %}
    <div id="downloadable-cv">
        Here is a concise one-pager resume: 
        <a href="{{ url_for('files_process', filename='pdfs/resume.pdf') }}" target="_blank"><i class="fas fa-file-pdf"></i>
        </a>
    </div>
{% endblock %}

<!-- first pane -->
{% block first_pane_content %}
    <!-- local macros -->
    {% macro left1(education) %}
        <div class="display-title">
            {{ education.institute }}
        </div>
    {% endmacro %}

    {% macro right1(education) %}
        <i class="fas fa-map-marker"></i>
        {{ education.location }}
    {% endmacro %}

    {% macro left2(education) %}
        {{ education.degree }}
    {% endmacro %}

    {% macro right2(education) %}
        {{ education.graduation }}
        {% if not education.graduated %}
            (expected)
        {% endif %}
    {% endmacro %}

    {% macro customize_education(item) %}{% endmacro %}

    <!-- generate containers -->
    {{ macros.generate_containers(educations, customize_education, left1, right1, left2, right2) }}

    <br>
    <div class="cv-containers">
        <h2>Work Experience</h2>
        <div class="main-container-two-pane">
            <div class="first-pane">
                <span style="text-align: center">
                    <h3>Teaching</h3>
                </span>
                <ul class="links-to-other-pages">
                    {% for teaching in teachings %}
                        <li>
                            <a href="#">{{ teaching.term }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="second-pane">
                <span style="text-align: center">
                    <h3>Jobs</h3>
                </span>
                <ul class="links-to-other-pages">
                    {% for job in jobs %}
                        <li>
                            <a href="#">{{ job.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> 

{% endblock %}


<!-- second pane -->
{% block second_pane_content %}
    <div class="cv-containers">
        {% for category, skills in skills.items() %}
            <h2>{{ category }}</h2>
            {% for skill in skills %}
                {% if skill.item %}
                    <div class="skill-tag-with-subitems" onclick="toggleSubSkills(this)">
                        {{ skill.item }}
                    </div>
                    {% if skill.subitems %}
                        <div class="sub-skills">
                            {% for subitem in skill.subitems %}
                                <span class="skill-tag">{{ subitem }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="skill-tag">
                        {{ skill }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <br>

    <div class="cv-containers">
        <h2>Publications</h2>
        <ul class="links-to-other-pages">
            {% for publication in publications %}
                <li>
                    <a href="#">{{ publication.venue_year }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>

    <div class="cv-containers">
        <h2>Presentations</h2>
        {% for presentation in presentations %}
            <div class="display-container">
                <div class="single-pane-text">
                    {% macro left(presentation) %}
                        <div class="display-title">
                            {{ presentation.event }}
                        </div>
                    {% endmacro %}
                    {% macro right(presentation) %}
                       <i class="fas fa-map-marker"></i>
                        {{ presentation.location }} 
                    {% endmacro %}

                    {{ macros.create_two_side_display(presentation, left, right) }}
                </div>
                <div class="single-pane-links">
                    <ul>
                        {% for file in presentation.files %}
                            <li>
                            {% if file.type == "pptx" %}
                                <a href="{{ url_for('files_process', filename='pptx/'+file.name) }}" target="_blank">
                                    <i class="fas fa-file-powerpoint fa-lg"></i>
                                </a>
                            {% elif file.type == "pdf" %}
                                <a href="{{ url_for('files_process', filename='pdfs/'+file.name) }}" target="_blank">
                                    <i class="fas fa-file-pdf fa-lg"></i>
                                </a>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>

    <div class="cv-containers">
        <h2>Subreviewer for</h2>
        <div>
            <ul class="conference-list">
                {% for subreview in subreviews %}
                    <li>{{ subreview }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

