{% extends "two_pane_template.html" %}

{% block title %}Experience{% endblock %}
{% block main_heading_two_pane %}Work Experience{% endblock %}
{% block first_pane_heading %}Teaching{% endblock %}
{% block second_pane_heading %}Job{% endblock %}

{% block first_pane_content %}
    {% macro customize_teaching(teaching) %}
        <div class="display-details" id="course-info">
            <ul>
                {% for course in teaching.courses %}
                    <li>
                        Taught
                        <span style="font-style: italic;">
                        {% if course.type == "U" %}
                            Undergrad
                        {% else %}
                            Grad
                        {% endif %}
                        </span>
                        course: 
                        <span style="font-weight: bold;">
                              {{ course.title }}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endmacro %}
    
    {{ generate_containers(teachings, customize_teaching, true, true) }}
{% endblock %}

{% block second_pane_content %}
    {% macro customize_job(job) %}
    {% endmacro %}
    
    {{ generate_containers(jobs, customize_job, false, false) }}
{% endblock %}

