{% extends "two_pane_template.html" %}

{% block title %}Projects{% endblock %}
{% block main_heading_two_pane %}Projects{% endblock %}
{% block first_pane_heading %}Research{% endblock %}
{% block second_pane_heading %}Development{% endblock %}

{% block first_pane_content %}
    {% macro customize_research_proj(research_proj) %}
    {% endmacro %}
    
    {{ generate_containers(research_projs, customize_research_proj) }}
{% endblock %}

{% block second_pane_content %}
    {% macro customize_dev_proj(dev_proj) %}
    {% endmacro %}

    {{ generate_containers(dev_projs, customize_dev_proj) }}
{% endblock %}

