{% extends "base.html" %}

{% block title %}Publications{% endblock %}

{% block content %}
    <h1>Publications</h1>
    {% for publication in publications %}
        <div id="publication-container"> 
            <div id=publication-text>
                <div id="publication-title">
                    <a href={{ publication.url }} title={{ publication.url }}>{{ publication.title }}</a>
                </div>
                <div id="publication-details">
                    <p>
                        <span style="font-weight: bold;">
                            {% if publication.published == 0 %}
                                Published
                            {% elif publication.published == 1 %}
                                Accepted
                            {% else %}
                                Submitted
                            {% endif %}
                        </span>
                        in {{ publication.venue }}, {{ publication.year }}
                    </p>
                    <p><i>Recommended citation</i>: {{ publication.citation | safe }}</p>
                </div>
            </div>
            <div id="publication-links">
                <ul>
                    <li>
                        <div>
                            <i class="fas fa-project-diagram" style="font-size: 13px"></i>
                            <a href="#">Project</a>
                        </div>
                    <li>
                        <div>
                            <i class="fas fa-file-code"></i>
                            <a href="www.github.com/{{ basic.github }}/{{ publication.artifact }}">Artifact</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fas fa-file-pdf"></i>
                            <a href="/{{ publication.preprint }}">Preprint</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

