{% extends "base_template.html" %}

{% block content %}
<h1>{% block main_heading_two_pane %}{% endblock %}</h1>
    <div class="main-container-two-pane">
        <div class="first-pane">
            <span style="text-align: center">
                <h2>
                    {% block first_pane_heading %}{% endblock %}
                </h2>
            </span>
            {% block first_pane_content %}{% endblock %}
        </div>

        <div class="second-pane">
            <span style="text-align: center">
                <h2>
                    {% block second_pane_heading %}{% endblock %}
                </h2>
            </span>
            {% block second_pane_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

