<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ameer's Portfolio{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!-- javascript for toggling subskills -->
    <script>
        function toggleSubSkills(skillTag) {
            let allSubSkills = document.querySelectorAll('.sub-skills');

            allSubSkills.forEach(subskill => {
                subskill.style.display = 'none';
            });

            let subSkills = skillTag.nextElementSibling;
            let expanded = skillTag.getAttribute("aria-expanded") === "true";
            let hidden = subSkills.getAttribute("aria-hidden") === "true";

            if (subSkills.style.display === 'block' || !hidden || expanded) {
                subSkills.style.display = 'none';
            } else {
                subSkills.style.display = 'block';
            }

            skillTag.setAttribute("aria-expanded", !expanded);
            subSkills.setAttribute("aria-hidden", !hidden);
        }

        document.addEventListener('click', function(event) {
            let allTagsWithSubitems = document.querySelectorAll('.skill-tag-with-subitems');

            if (![...allTagsWithSubitems].some(tag => tag.contains(event.target))) {
                allTagsWithSubitems.forEach(tag => {
                    tag.setAttribute("aria-expanded", false);
                    let subSkills = tag.nextElementSibling;
                    subSkills.setAttribute("aria-hidden", true);
                    subSkills.style.display = 'none';
                });
            }
        });
    </script>


    </head>
    <body>
        <div id="sidebar">
            <img src="/static/images/display.jpg" alt="Ameer Hamza">
            <h2>Ameer Hamza</h2>
            <hr>
            <div id="location">
                <i class="fas fa-map-marker-alt"></i>
                {{ basic.location }}
            </div>
            <div id="institute">
                <i class="fas fa-university"></i>
                {{ basic.institute }}
            </div>
            <div id="email">
                <i class="fas fa-envelope"></i>
                {{ basic.email }}
            </div>
            <div id="linkedin">
                <i class="fab fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/{{ basic.linkedin }}">LinkedIn</a>
            </div>
            <div id="github">
                <i class="fab fa-github"></i>
                <a href="https://www.github.com/{{ basic.github }}">GitHub</a>
            </div>
            <div id="google-scholar">
                <i class="fas fa-graduation-cap"></i>
                <a href="https://scholar.google.com/citations?user={{ basic.google_scholar }}">Google Scholar</a>
            </div>
            <div id="researchgate">
                <i class="fab fa-researchgate"></i>
                <a href="https://www.researchgate.net/profile/{{ basic.researchgate }}">ResearchGate</a>
            </div>
            <div id="orcid">
                <i class="fab fa-orcid"></i>
                <a href="https://orcid.org/{{ basic.orcid }}">ORCID</a>
            </div>
        </div>
        <div class="content">
            <nav>
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/publications">Publications</a></li>
                    <li><a href="/experience">Work Experience</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

