{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>About me</h1>
    <p>I am a Ph.D. Candidate at <a href="https://www.cs.fsu.edu">Computer Science Department</a>, <a href="https://fsu.edu">Florida State University</a> and a member of the Formal Methods Lab.
    I am currently working as a <span class="highlight">Graduate Research Assistant</span> under the supervision of <a href="https://www.cs.fsu.edu/~grigory/">Dr. Grigory Fedyukovich</a>.</p>
    <p>I am working and/or have research interests in the following areas: </p>
    <!-- (&#9733; represents ongoing projects, &#10003; represents past projects, and &#9203; represents projects I am interested in (future)): -->
    <ul>
        <li>Formal Methods, Program Analysis, Software Verification, SMT Solving, Model Checking</li>
        <li>Compilers and Verifying Compiler Optimizations</li>
        <li>Type Systems, Type Inference, Type Checking</li>
        <li>Equivalence Checking of Programs</li>
        <li>Verification of eBPF programs (Linux Kernel extensions)</li>
        <li>Machine Learning and ML Compilers</li>
        <li>Applications of Formal Methods and Logic Reasoning in Machine Learning (and vice versa)</li>
    </ul>

I am open to collaborate in the above areas. If you are interested in collaborating, please feel free to <a href="/contact">contact</a> me. I am also open to discuss any other research ideas you might have. I am always looking for new research ideas and collaborations.
    <p>In my free time, I like to play table tennis, lawn tennis and cricket, watch TV series, play video games (<a href="https://blog.counter-strike.net/">CSGO</a>) and play card/board games. I also like to cook in my spare time.
    <!--
        I love to spend my time looking at memes on the internet.
    <a href="{{ url_for('files_process', filename='images/meme.jpg') }}">Here</a>
    is one related to Computer Science.</p>
    <p style="text-align: center; font-size: 20px; font-weight: bold;"><a href="https://www.youtube.com/watch?v=v7ScGV5128A" target="_blank">Do not click here</a></p>
    -->
{% endblock %}

