
{% macro institute_or_company(item) %}
    {% if 'institute' in item %}
        <i class="fas fa-university"></i>
        {{ item.institute }}
    {% elif 'company' in item %}
        <i class="fas fa-building"></i>
        {{ item.company }}
    {% endif %}
{% endmacro %}


{% macro create_two_side_display(item, left, right) %}
    <div class="two-side-display">
        <div class="left-align">
            {{ left(item) }}
        </div>
        <div class="right-align">
            {{ right(item) }}
        </div>
    </div>
{% endmacro %}


{% macro generate_containers(data, content_function, left1, right1, left2, right2) %}
    {% for item in data %}
    <div class="display-container make-column-view" id="{{item.tag}}">
            {{ create_two_side_display(item, left1, right1) }}
            {{ create_two_side_display(item, left2, right2) }}
            {{ content_function(item) }}
        </div>
    {% endfor %}
{% endmacro %}

