
{% macro institute_or_company(item) %}
    {% if 'institute' in item %}
        <i class="fas fa-university"></i>
        {{ item.institute }}
    {% elif 'company' in item %}
        <i class="fas fa-building"></i>
        {{ item.company }}
    {% endif %}
{% endmacro %}


{% macro create_two_side_display(item, left, right) %}
    <div class="two-side-display">
        <div class="left-align">
            {{ left(item) }}
        </div>
        <div class="right-align">
            {{ right(item) }}
        </div>
    </div>
{% endmacro %}


{% macro generate_containers(data, content_function, left1, right1, left2, right2, right3) %}
    {% for item in data %}
        {{ generate_single_container(item, content_function, left1, right1, left2, right2, right3) }}
    {% endfor %}
{% endmacro %}

{% macro generate_single_container(data, content_function, left1, right1, left2, right2, right3) %}
    <div class="display-container make-column-view" id="{{data.tag}}">
        {{ create_two_side_display(data, left1, right1) }}
        {{ create_two_side_display(data, left2, right2) }}
        {{ right3(data) }}
        {{ content_function(data) }}
    </div>
{% endmacro %}
