{% extends "two_pane_template.html" %}
{% import "macros.html" as macros %}

{% block title %}Projects{% endblock %}
{% block main_heading_two_pane %}Projects{% endblock %}
{% block first_pane_heading %}Research{% endblock %}
{% block second_pane_heading %}Development{% endblock %}

<!-- generic macros -->
{% macro left1(proj) %}
    <div class="display-title">
        <a href="/projects/{{ proj.tag }}" title={{ proj.title }}>{{ proj.title }}</a>
    </div>
{% endmacro %}

{% macro left2(proj) %}
    {% if 'start' in proj and 'end' in proj %}
        {{ proj.start }} - {{ proj.end }}
    {% endif %}
{% endmacro %}

{% macro right2(proj) %}
    {{ macros.institute_or_company(proj) }}
{% endmacro %}

{% macro right1(work) %}
    {% if 'artifact' in work %}
        <i class="fas fa-file-code fa-lg"></i>
        <a href="https://www.github.com/{{ basic.github }}/{{ work.artifact }}">Artifact</a>
    {% endif %}
{% endmacro %}

{% macro empty_(proj) %}{% endmacro %}


<!-- first pane -->
{% block first_pane_content %}
    
    <!-- generate containers -->
    {{ macros.generate_containers(research_projs, empty_, left1, right1, left2, right2, empty_) }}
{% endblock %}


<!-- second pane -->
{% block second_pane_content %}

    <!-- generate containers -->
    {{ macros.generate_containers(dev_projs, empty_, left1, right1, left2, right2, empty_) }}
{% endblock %}

