{% extends "base_template.html" %}

{% block title %}Publications{% endblock %}

{% block content %}
    <h1>Publications</h1>
    {% for publication in publications %}
        <div class="display-container" id="{{publication.tag}}"> 
            <div class="single-pane-text">
                <div class="display-title">
                    <a href={{ publication.url }} title={{ publication.url }}>{{ publication.title }}</a>
                </div>
                <div class="display-details">
                    <p>
                        <span style="font-weight: bold;">
                            {% if publication.published == 0 %}
                                Published
                            {% elif publication.published == 1 %}
                                Accepted
                            {% else %}
                                Submitted
                            {% endif %}
                        </span>
                        in {{ publication.venue }}, {{ publication.year }}
                    </p>
                    <p><i>Recommended citation</i>: {{ publication.citation | safe }}</p>
                </div>
            </div>
            <div class="single-pane-links">
                <ul>
                    <li>
                        <div>
                            <i class="fas fa-project-diagram fa-lg" style="font-size: 13px"></i>
                            <a href="#">Project</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fas fa-file-code fa-lg"></i>
                            <a href="https://www.github.com/{{ basic.github }}/{{ publication.artifact }}">Artifact</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <i class="fas fa-file-pdf fa-lg"></i>
                            <a href="{{ url_for('files_process', filename='pdfs/'+publication.preprint) }}" target="_blank">Preprint</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

